<html>
<head>
  <title>Hello World App</title>
  <script type="text/javascript" src = "../../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../scripts/app.js"></script>
  <script type="text/javascript" src="../scripts/controllers/main.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel="stylesheet" type="text/css" href="../styles/icons.css">
</head>

<body>

	<div ng-app="inputApp"> 

		<form ng-submit="submit()" ng-controller="ExampleController">
			Enter text and hit enter:
			<input type="text" ng-model="text" name="text" />
			<input type="submit" id="submit" value="Submit" />
			<pre>list={{list}}</pre>

			<div id="insertObjects" ng-repeat="obj in showObjects">

				<div id={{obj.name}} class={{typesToShapes[obj.type]}}>

					<div class="listObject">
						{{obj.name}}
						<div style="font-size:80%;">({{obj.type}})</div>
					</div>
				</div>

      		</div>
    	</form>

    	
	</div>


</body>
</html>